// import the symlinked package files
@import '../../.meteor/local/build/programs/web.browser/packages/innovae_bootstrap-stylus/bootstrap'

body
  font-family 'Helvetica', 'Helvetica Neue', 'Georgia', 'Arial', sans-serif